[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = ./sourcedata/raw
	datalad-id = 76b736aa-2714-420b-8d56-2cfb4e51da3e
[submodule "derivatives/nidm"]
	path = derivatives/nidm
	url = ./derivatives/nidm
	datalad-id = 36e362b9-5020-4499-8457-152cbb43f766
[submodule "code"]
	path = code
	url = git@github.com:djarecka/simple2_scripts.git
	datalad-url = git@github.com:djarecka/simple2_scripts.git
[submodule "derivatives/nidm_4.3.1"]
	path = derivatives/nidm_4.3.1
	url = ./derivatives/nidm_4.3.1
	datalad-id = c1dea70a-9059-451e-86fc-a10d2a13ed97
