[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = ./sourcedata/raw
	datalad-id = 76b736aa-2714-420b-8d56-2cfb4e51da3e
[submodule "code"]
	path = code
	url = git@github.com:djarecka/simple2_scripts.git
	datalad-url = git@github.com:djarecka/simple2_scripts.git
[submodule "derivatives/test_simple2-FSL"]
	path = derivatives/test_simple2-FSL
	url = /orcd/scratch/bcs/001/djarecka/fsl_bidsapp/feb27/3/fsl_bidsapp_new_study-ABIDE/site-Caltech/output_ria/alias/data
	datalad-id = 2dab80e3-251d-46d4-afcb-3c69205a5c05
[submodule "derivatives/nidm_4.3.1"]
	path = derivatives/nidm_4.3.1
	url = ./derivatives/nidm_4.3.1
	datalad-id = 9fd3935b-2ff9-48de-95d8-139c65053dba
[submodule "derivatives/nidm_4.5.0"]
	path = derivatives/nidm_4.5.0
	url = ./derivatives/nidm_4.5.0
	datalad-id = cd6b5dfb-5236-4483-ae2b-8f5beae69724
[submodule "derivatives/babs-fsl-nidm4.5.0"]
	path = derivatives/babs-fsl-nidm4.5.0
	url = ./derivatives/babs-fsl-nidm4.5.0
	datalad-id = 44086cd8-90a9-407a-be59-d0c1a0389776
