[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = ./sourcedata/raw
	datalad-id = 76b736aa-2714-420b-8d56-2cfb4e51da3e
[submodule "derivatives/nidm"]
	path = derivatives/nidm
	url = ./derivatives/nidm
	datalad-id = 36e362b9-5020-4499-8457-152cbb43f766
[submodule "code"]
	path = code
	url = git@github.com:djarecka/simple2_scripts.git
	datalad-url = git@github.com:djarecka/simple2_scripts.git
[submodule "derivatives/test_simple2-FSL"]
	path = derivatives/test_simple2-FSL
	url = /orcd/scratch/bcs/001/djarecka/fsl_bidsapp/feb27/3/fsl_bidsapp_new_study-ABIDE/site-Caltech/output_ria/alias/data
	datalad-id = 2dab80e3-251d-46d4-afcb-3c69205a5c05
[submodule "derivatives/nidm_4.3.1"]
	path = derivatives/nidm_4.3.1
	url = ./derivatives/nidm_4.3.1
	datalad-id = 9fd3935b-2ff9-48de-95d8-139c65053dba
[submodule "derivatives/nidm_test_4.3.1"]
	path = derivatives/nidm_test_4.3.1
	url = ./derivatives/nidm_test_4.3.1
	datalad-id = 4149ef26-2b1f-42af-ac10-3f23baec936b
[submodule "derivatives/nidm_test1_4.3.1"]
	path = derivatives/nidm_test1_4.3.1
	url = ./derivatives/nidm_test1_4.3.1
	datalad-id = 192c14b6-a1c8-45bf-8c87-1dd503e3bb78
[submodule "derivatives/nidm_test_4.3.3"]
	path = derivatives/nidm_test_4.3.3
	url = ./derivatives/nidm_test_4.3.3
	datalad-id = 60c28f40-3448-49cf-baf6-6b04b52e2e09
[submodule "derivatives/nidm_test_4.3.5"]
	path = derivatives/nidm_test_4.3.5
	url = ./derivatives/nidm_test_4.3.5
	datalad-id = f0276b74-6e72-4756-990d-e1abab5a90bf
[submodule "derivatives/babs-fsl-nidm4.3.5_test"]
	path = derivatives/babs-fsl-nidm4.3.5_test
	url = ./derivatives/babs-fsl-nidm4.3.5_test
	datalad-id = 1ee38ff8-c98b-49bc-bc87-9a536c2fa7e0
